/*
    #28a745
    #deff8b fresh mint green
    #b6eb7a grass green
    #fcf876 sunny yellow
    #f4f6ff greyish blue
*/
/* General */
body {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
hr {
    width: 60%;
}
/* General Positioning */
#gallery, #call-to-action, #map {
    text-align: center;
}
/* Container */
.container {
    width: 90%;
    max-width: 1020px;
    margin: 0 auto;
    border: 2px solid magenta;
}
/* Navbar */
#navigation nav {
    padding-right: 0;
    padding-left: 0;
    background-image: linear-gradient(to bottom right, #f7f7f7, #e8e9eb);
}

/* Title */
#title {
    margin-top: 62.6px;
    background-color: #f7f7f7;
}
#title img {
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 2%;
    margin-top: 20%;
    margin-bottom: 20%;
}
#title .title-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#title h1 {
    font-weight: 700;
    font-size: 3rem;
    color: darkslategray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#title p {
    font-size: 1.25rem;
    padding-right: 3rem;
}

#title button {
    margin-bottom: 20px;
}

/* About */
#about img {
    width: 100%;
}

#about p {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-right: 3rem;
}

#about h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: darkslategray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.about-img-container {
    padding-left: 0;
}

.about-text-container {
    padding-top: 20%;
    padding-bottom: 10%;
}

/* Gallery */
#gallery .container {
    margin-top: 30px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 50%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: darkslategray;
    line-height: 1.5;
    padding: 0% 7%;
    margin-top: 10px;
}

.feature-text {
    font-size: 1rem;
    padding: 0% 10%;
}
/* Call to Action */
#call-to-action .container {
    padding: 1rem;
}

#call-to-action h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: darkslategray;
    line-height: 1.5;
}

#call-to-action a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.button-left {
    display: inline;
    padding-right: 2%;
}

.button-right {
    display: inline;
    padding-left: 2%;
}
/* Map */
#map .container {
    padding: 1rem;
}

#map h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: darkslategray;
    line-height: 1.5;
}

#mapid {
    height: 500px;
}

/* Form */
.contact-form {
    margin-top: 62.6px;
}

/* Footer */

/* Breakpoints */
@media (max-width: 1155px) {
    #about img {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

@media (max-width: 992px) {
    body {
        text-align: center;
    }

    nav.navbar {
        text-align: left;
    }

    /* Title */
    #title {
        margin-top: 60.17px;
    }

    #title img {
        margin-bottom: auto;
        margin-top: auto;
    }

    #about img {
        display: none;
    }
    /* About */
    #about p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        padding-right: 3rem;
    }

    #about h2 {
        font-weight: 600;
        font-size: 2.5rem;
        color: darkslategray;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .about-text-container {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    /* Gallery */
    #gallery p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        padding: 0% 2%;
    }

    #gallery h3 {
        font-weight: 600;
        font-size: 2.25rem;
        color: darkslategray;
        line-height: 1.5;
        margin-top: 10px;
    }
}