<div>
  <img src="./home/len/Documents/source_files/web/webdev/dj_cobe/cobe/static/home/img/pho.png" alt="Pho-Suppe" />
</div>
<div>
  <h2>Über Uns</h2>
</div>
<div>
  <p>
    Cô Bé, zu Deutsch "Fräulein", ist ein kleines Restaurant, das traditionelle
    vietnamesische Küche im Herzen von Schwabing anbietet. Es liegt zwischen dem
    Kurfürstenplatz und Elisabethplatz in München. Wir bieten Ihnen
    vietnamesische Kost, ob mit Fleisch oder vegetarisch, zu guten Preisen und
    legen sehr viel Wert auf gesunde Kost. Das heißt unsere Speisen werden ohne
    Geschmacksverstärker zubereitet.
  </p>
</div>
<div>
  <h2>Title</h2>
</div>
<div>
  <p>
    Sie möchten einen schönen Abend mit ihrer Familie und Ihren Freunden in
    angenehmer Atmosphäre verbringen? Unser Team freut sich darauf Ihnen ein
    Stück Vietnam näher zu bringen! Guten Appetit wünscht ihr Cô-Bé Restaurant
    Team.
  </p>
</div>
<div>
  <h2>Title</h2>
</div>
<div>
  <p>
    Sie möchten einen schönen Abend mit ihrer Familie und Ihren Freunden in
    angenehmer Atmosphäre verbringen? Unser Team freut sich darauf Ihnen ein
    Stück Vietnam näher zu bringen! Guten Appetit wünscht ihr Cô-Bé Restaurant
    Team.
  </p>
</div>
