<div>
  <div class="opening-hours-header">
    <h3>Unsere Öffnungszeiten</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Montag bis Freitag</td>
          <td>11:30 - 14:30</td>
        </tr>
        <tr>
          <td></td>
          <td>17:30 - 23:00</td>
        </tr>
        <tr>
          <td>Samstag</td>
          <td>12:00 - 15:00</td>
        </tr>
        <tr>
          <td></td>
          <td>17:30 - 23:00</td>
        </tr>
        <tr>
          <td>Sonntag</td>
          <td>12:00 - 15:00</td>
        </tr>
        <tr>
          <td></td>
          <td>17:00 - 23:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
