{% extends "base.html" %}

{% load static %}
{% block content %}

<!-- Main Title colored-section-shippo -->
<div id="title-section" class="container-fluid pho-soup-bg-img">
  <div class="opening-title container-fluid">
    <h1>Herzlich willkommen im Cô-Bé Restaurant</h1>
  </div>

  <div class="row">

    <div class="col-lg-6 col-md-12">

      <div class="title-information">
        <div class="title-entry-openings">
          <h3>Unsere Öffnungszeiten</h3>
        <div class="table-responsive">
          <table class="table table-striped">

            <tbody>
              <tr>
                <td>Montag bis Freitag</td>
                <td>11:30 - 14:30</td>
              </tr>
              <tr>
                <td></td>
                <td>17:30 - 23:00</td>
              </tr>
              <tr>
                <td>Samstag</td>
                <td>12:00 - 15:00</td>
              </tr>
              <tr>
                <td></td>
                <td>17:30 - 23:00</td>
              </tr>
              <tr>
                <td>Sonntag</td>
                <td>12:00 - 15:00</td>
              </tr>
              <tr>
                <td></td>
                <td>17:00 - 23:00</td>
              </tr>

            </tbody>
          </table>

        </div>
        </div>

        <div class="row">
          <div class="col-lg-6"><div class="title-entry-number">
            <h4 class="title">Rufen Sie uns an!</h4>
            <p>
              089 39290268  |  0159 06718116
            </p>
          </div></div>
          <div class="col-lg-6"><div class="title-entry-address">
            <h4 class="title">Kommen Sie vorbei!</h4>
            <p>Kurfürstenstraße 47, <br> 80801 München</p>
          </div></div>

        </div>





      </div>
    </div>


    <div class="col-lg-6 col-md-12">

      <div class="center-container ">
        <div class="absolute-center">
          <img
          class="img-fluid rounded title-img"
          src="{% static 'home/img/staff.png' %}"
          alt="Restaurant-Logo"
        />
        </div>
      </div>

    </div>
  </div>
</div>

<!-- About colored-section-seigaiha -->
<div id="about-section" class="container-fluid ">
  <div class="about-title">
    <h1>Über Uns</h1>
  </div>

  <div class="row">
    <div class="col-md-6 about-column">

      <div class="card mx-auto">
          <img src="{% static 'home/img/woman.png' %}" class="card-img about-img" alt="Restaurant-Staff">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Cô Bé, zu Deutsch "Fräulein", ist ein kleines Restaurant, das
              traditionelle vietnamesische Küche im Herzen von Schwabing anbietet. Es
              liegt zwischen dem Kurfürstenplatz und Elisabethplatz in München. Wir
              bieten Ihnen vietnamesische Kost, ob mit Fleisch oder vegetarisch, zu
              guten Preisen und legen sehr viel Wert auf gesunde Kost. Das heißt
              unsere Speisen werden ohne Geschmacksverstärker zubereitet.
            </p>
          </div>

      </div>

    </div>

    <div class="col-md-6 about-column">
      <div class="card mx-auto">
        <img src="{% static 'home/img/staff.png' %}" class="card-img-top about-img" alt="Restaurant-Staff">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Sie möchten einen schönen Abend mit ihrer Familie und Ihren Freunden in
            angenehmer Atmosphäre verbringen? Unser Team freut sich darauf Ihnen ein
            Stück Vietnam näher zu bringen! Guten Appetit wünscht ihr Cô-Bé
            Restaurant Team.</p>
        </div>
      </div>
    </div>

  </div>

  <!-- img-fluid rounded fitted-img -->
</div>

<!-- Feature Carousel/ Galerie -->

<div id="feature-section" class="container-fluid">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-ride="false"
    data-interval="false"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active contaier-fluid">
        <h3 class="feature-title">Bester Service in gemütlicher Umgebung</h3>
        <p class="feature-text">
          Wir geben alles, um unseren Gästen den Aufenthalt so angenehm wie
          möglich zu gestalten. Sie haben einen speziellen Wunsch oder besondere
          Ernährungsbedürfnisse? Wenden Sie sich getrost an uns!
        </p>
        <img src="{% static 'home/img/shrimp.png' %}" alt="Pho-Suppe" />
      </div>

      <div class="carousel-item contaier-fluid">
        <h3 class="feature-title">Frische Sommerrollen - hausgemacht</h3>
        <p class="feature-text">
          Wir freuen uns, Sie mit unseren besten Gerichten, hausgemacht,
          verwöhnen zu dürfen. Wir kochen ohne Glutamat. Besuchen Sie uns und
          erleben Sie den Zauber Vietnams!
        </p>
        <img
          src="{% static 'home/img/sommerrollen.png' %}"
          alt="Sommerrollen"
        />
      </div>

      <div class="carousel-item contaier-fluid">
        <h3 class="feature-title">Partys und Feste, bei uns kein Problem!</h3>
        <p class="feature-text">
          Sie wollen eine Feier ausrichten und suchen noch den richtigen Rahmen
          dafür? Bei uns sind Sie genau richtig: Unser gesamtes Team steht zu
          Ihrer Verfügung, damit Ihre Feier zu einem einmaligen Erlebnis wird.
        </p>
        <img
          src="{% static 'home/img/fruehlingsrollen.png' %}"
          alt="Fruehlingsrollen"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Speisekarte -->
<div id="menu-section" class="container-fluid">
  <h3>Unsere Speisekarte</h3>
  <hr class="mx-auto w-75">
      <button type="button" class="btn btn-outline-success btn-md download-button">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Download
      </button>
      <button type="button" class="btn btn-outline-success btn-md download-button">
         View PDF
      </button>
</div>
<!-- Reservation -->
<div id="reservation-section" class="container-fluid">
  <h3>Reservieren Sie jetzt!</h3>
  <hr class="mx-auto w-75">
  <buttontype="button" class="btn btn-outline-success btn-md download-button">
    <a href="{% url 'contact' %}">Hier Reservieren</a>
  </buttontype=>
</div>

<!-- Map -->
<div id="map-section" class="container-fluid">
  <h3>Hier können Sie uns finden!</h3>
  <hr class="mx-auto w-75">
  <div id="mapid"></div>
</div>
{% endblock content %}
